.about-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;

    h2 {
        font-size: clamp(2.5rem, 4vw, 3.75rem);
        font-family: var(--font-josefin-sans);
        letter-spacing: 0.08em;
        margin-bottom: 0.75rem;
        color: var(--text-color);
        text-align: center;
        margin-bottom: 2rem;
    }

    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .content {
            flex: 1;
        }

        .image-container {
            flex: 1;
            height: 430px;
            display: flex;
            align-items: center;
            justify-content: center;
            .about-image {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}