.footer-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-zen-loop);
    padding: 4px 16px;
    margin: auto;
    .content{
        color: var(--accent);
    }
    .year{
        font-size: 14px;
    }
}
